*{
    padding: 0;
    margin: 0;
}

body{
    width: 1600px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.content-container {
    width: 1161px;
    margin: 0 auto;
}

.section-align {
    position: relative;
    bottom: 79.56px;
}

/*HEADER*/
header {
    box-sizing: border-box;
    background: #000000;
    height: 80px;
    padding: 14px;
    position: relative;
    z-index: 10;
}

.header-container{
    display: flex;
    align-items: center;
}

.logo,
nav,
.credits {
    display: inline-block;
}

.logo{
    box-sizing: border-box;
    width: 82px;
    height: 52px;
    border: 1px solid #FFF;
    border-radius: 2px;
    padding: 3.55px 4.75px;
}

.logo h1 a {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #FFF;
}

nav{
    margin-left: 63px;
}


nav ul {
    display: flex;
    column-gap: 58px
}

nav ul li{
    list-style: none;
}

nav ul li a, .credits a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}

a:hover {
    color: #F9804B;
}

a.highlighted:focus{
    color: #F9804B;
}

.credits{
    position: relative;
    left: 438px;
}

/*Watch animal section*/

#watch-animal{
    position: relative;
    bottom: 80px;
    height: 780px;
    background-image: url(../assets/images/giant-panda.png) ;
    background-size: contain;
    background-repeat: no-repeat;
}


.circle{
    width: 465px;
    height: 465px;
    position: relative;
    top: 92px;
    left: calc(50% - 465px/2 + 239.5px);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}


 #watch-animal h2{
    position: absolute;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    width: 500.31px;
    height: 400px;
    font-weight: 700;
    font-size: 106.496px;
    text-transform: uppercase;
    line-height: 75%;
    color: #FFF;
    text-align: center;
}

.fav {
    color: #FFEE2E;
}

.btn1{
   display: inline-block;
   width: 298px;
   height: 54px;
   background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
   border-radius: 25px;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   text-align: center;
   text-transform: uppercase;
   color: #FFF;
   border: none;
   padding: 16px 5px;
}

.btn1-position{
    position: absolute;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
}

.btn1:hover{
    cursor: pointer;
    background: #E47209;
}

.btn1:active{
    background: #4B9200;
}

/*Backstage section*/

#backstage{
    height: 403px;
    margin: 139px 0 180px;
}

.backstage-layout{
    display: flex;
}


.backstage-img{
    display: inline-block;
    width: 609px;
    height: 403px;
}

.backstage-description{
    display: inline-block;
    width: 465px;
    height: 403px;
    margin-left: 87px;
}

.backstage-description h2{
    height: 116px;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 20px;
}

.backstage-par1{
    height: 42px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.backstage-description h3{
    width: 217px;
    height: 29px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 34px;
}

.backstage-par2 {
    height: 105px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
}

.side-image{
    display: inline-block;
    width: 220px;
    height: 605px;
    position: relative;
    left: 1380px;
    bottom: 500px;
}

/*Pet section*/

#pet{
    height: 1106px;
    overflow: hidden;
}

.pet-container{
    box-sizing: border-box;
    width: 366px;
    height: 426px;
    border: 1px solid #FA6F32;
    border-radius: 5px;
    overflow: hidden;
    transform: scale(1);
}


.pet-image{
    width: 366px;
    height: 366px;
    position: relative;
}

.pet-container:hover > .pet-image{
    transform: scale(1.11);
    transition: 1s;
    z-index: -2;
}


.pet-info{
    box-sizing: border-box;
    display: flex;
    width: 366px;
    height: 60px;
    align-items: center;
    padding: 8px 12px 14px 16px;
    background-color: #FFF;
    position: absolute;
    transition-duration: 0;
}

.pet-container:hover >.pet-info{
    width: 366px;
    height: 426px;
    bottom: 0;
    padding-left: 16px;
    color: #FFF;
    background-color: #000000;
    transition-duration: 1.5s;
}

.pet-info .name-geo h2{
    width: 294px;
    height: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.pet-info .name-geo p{
    width: 294px;
    height: 18px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.pet-info .food-img img[ src*="banana-bamboo_icon.svg"]{
    margin-top: 3px;
    margin-left: 11px;
    width: 33px;
    height: 37px;
}

.pet-info .food-img img[ src*="meet-fish_icon.svg"] {
    margin-right: 8px;
    width: 48px;
    height: 38px;
}

/*pet section layout*/

.pet-layout{
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
    height: 872px;
}

/*pet>arrows*/

button.arrows-left{
    width: 62px;
    height: 62px;
    background: orange;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 403px;
    bottom: 641px;
    left: 138px;
}

button.arrows-right{
    width: 62px;
    height: 62px;
    background: orange;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 403px;
    bottom: 641px;
    left: 1398px;
}

button.state:active{
    background-color: green;
}

/* just in case i need a button created with anchor tag
a .arrows{
    position: absolute;
    top: 403px;
    bottom: 641px;
    left: 138px;
} */

.btn-position-2{
    position: absolute;
    top: 952px;
    bottom: 100px;
    left: 651px;
}

img.palm{
    position: absolute;
    width: 880px;
    height: 460px;
    top: 648px;
    right: 1308px;
}

img.strelitzia{
    position: absolute;
    width: 368px;
    height: 275px;
    top: 831px;
    left: 1232px;
}

/*feed section*/

#feed-friend{
    box-sizing: border-box;
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 0 100px 0;
}

.pick-feed-container{
    box-sizing: border-box;
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    padding: 41px 0 0 0;
}

.pick-feed-container > h2{
    /* display: inline-block; */
    width: 463px;
    height: 58px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color:#FE9013;
    margin: 0 auto;
    /* position: relative; top: 41px; bottom: 736px; left: 350px; right: 347px; */
}

/*feed-info part*/
.feed-info .par1{
    display: inline-block;
    width: 844px;
    height: 29px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #333B41;
    margin: 30px 0 40px 99px;
}

.format{
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
    margin: 0 0 10px 99px;
}

.feed-info .par2 {
    width: 1061px;
    font-weight: 500;
}

.feed-info .par3 {
    width: 863px;
    height: 41px;
    font-weight: 400;
    margin-bottom: 60px;
}

.par3 a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #FE9013;
}
.par3 a:hover {
    color: #FE9013;
    border: none;
}


/*feed-pay part*/

.feed-pay h2{
    width: 209px;
    height: 47px;
    margin: 0 auto 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
}

.pay-stages{
    width: 764px;
    height: 243px;
    display: flex;
    margin: 0 auto 60px;
}

.stage{
    width: 168px;
    height: 244px;
}

.stage .icons{
    box-sizing: border-box;
    width: 168px;
    height: 168px;
    background-color: #FFF;
    border: 1px solid #F9804B;
    border-radius: 5px;
}

.pos1{
    padding: 54px 30px;
}

.pos2{
    padding: 38px 41px 35px 41px;
}

.pos3{
    padding: 48px 21px;
}

.stage .stage-info{
    width: 168px;
    height: 46px;
    font-weight: 400;
    line-height: 22px;
    color: #333B41;
    margin-top: 30px;
}

.arrows{
    box-sizing: border-box;
    width: 128px;
    height: 244px;
    padding: 64px 33px 145px 26px;
}

.arrows img{
    width: 69px;
    height: 35px;
}

.btn-pos{
    position: relative;
    left: 431px;
}